* {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;
}

.titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    margin-bottom: 0;
    background-color: #719eff;
    color: #000;
}

.cardAgendamento {
    padding: .7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.lista {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    border-radius: 12px;
}

.linhaTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linhaTopo h3 {
    font-size: 1.5rem;
    white-space: nowrap;
}

.cardAgendamento:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.cardAgendamento h3 {
    margin: 0 0 0.3rem 0;
    color: #000;
}

.cardAgendamento p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.cardAgendamento:last-child {
    border-bottom: none;
}

.lista::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.lista::-webkit-scrollbar-thumb {
    background: #bfc7d1;
    border-radius: 8px;
    transition: background 0.2s;
}

.lista::-webkit-scrollbar-thumb:hover {
    background: #719eff;
}

.lista::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox */
.lista {
    scrollbar-width: thin;
    scrollbar-color: #bfc7d1 transparent;
}